
<div id="chat">
  <div class="emoji-chat">
    <h2>This is an Ember component.</h2>
    {{emoji-picker value=value onChange=(action (mut value))}}

    <h2>This is a button. <small>(Try clicking it!)</small></h2>
    <button id="talk-to-elm" onclick={{route-action "talk to elm"}}>
      Send emojis to Elm
    </button>

    <h2>This is an Elm component.</h2>
    {{elm-component src=Elm.Main.Chat flags=flags setup=(route-action "setup ports")}}
  </div>
</div>
